.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: 20px;
	}

	.section-header {
		padding-bottom:  20px;
	}

	.testing {
		color: black;
	}
}

@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom:  20px;
		}

		.section-header {
			padding-bottom:  20px;
		}
	}
}
