.section-inner {
    position: relative; // To always display inner elements above pseudo decorative stuff
    padding-top: 20px;
    padding-bottom: 50px;
}

.section-header {
	padding-bottom: 0px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 20px;
        padding-bottom: 50px;
    }

	.section-header {
		padding-bottom: 50px;
	}
}
