@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Questrial&display=swap');

* {
  font-family: 'Questrial', Helvetica, sans-serif;
  background-color: #EEF6F6;
}

h1 {
  font-family: 'League Spartan', Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: 20px;
}

main p {
  font-size: 15px;
  margin-left: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2;
  gap: 2px;
  grid-auto-rows: minmax(15px, auto);
}
.one {
  grid-column: 1/2;
  grid-row: 1;
  width: 180px;
  margin-right: 20px;
}
.nine {
  grid-column:2;
}

body {
  margin: 0;
}

.rsm-svg {
  background-color: #D7F3FF;
}
