@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap');

* {
  font-family: 'Sora:wght@300', Helvetica, sans-serif;
  /* background-color: #EEF6F6; */
}

header {
  background-color: #D0F3EB;

}

.dataTitle {
  text-align: center;
  font-size: 20px;
  color: #005B67;
  padding-top: 20px;
  font-style: italic;
}

.countryData {
  background-color: #D0F3EB;
  border: 1px solid #005B67;
}

h1 {
  margin-left: 20px;
  color: #005B67;
}

.titleAbout {
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  color: #005B67;
  background-color: #D0F3EB;
  padding-left: 30px;
}

.aboutProject {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 25px;
  font-size: 15px;
}

.sources {
  font-size: 14px;
  padding-left: 20px;
  text-indent: -20px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note {
  font-size: 15px;
  margin-left: 20px;
}

.flag-page, h5 {
  margin-left: 20px;
  text-align: center;
}

.directions-text {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;
}

.directions-title {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 25%;
  box-sizing: border-box;
}

.chart-name {
  font-family: 'Sora:wght400', Helvetica, sans-serif;
  font-size: 24px;
  color: #005B67;
  text-transform: uppercase;
  text-align: center;
}


main p {
  font-size: 15px;
  margin-left: 20px;
}

.wrapper {
  display: flex;
  grid-template-columns: 2;
  gap: 2px;
  grid-auto-rows: minmax(15px, auto);
}

.one {
  grid-column: 1/2;
  grid-row: 1;
  width: 200px;
}
.nine {
  grid-column:2;
  margin: auto;
  flex: 1;
  text-align: center;
}

body {
  margin: 0;
}

.rsm-svg {
  background-color: #D0F3EB;
}

.backButton {
  position: absolute;
  margin-left:  10px;
  margin-bottom: 0;
  bottom: -10px;
}

.makeSmall {
  font-size: 11px;
}