.tab-list {
    border-bottom: 3px solid #004AAD;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    font-size: 17px;
    font-family: 'League Spartan', Helvetica, sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #004AAD;
    border-width: 3px 3px 0 3px;
    margin-left: 5px;
    width: 300px;
    text-align: center;
    color: #004AAD;
  }
  
  .tab-list-active {
    background-color:#004AAD;
    border: solid #004AAD;
    border-width: 2px 2px 0 2px;
    color: white;
  }

  .tabs {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  